/*---------------------------Home Page--------------------------*/

.nav-link:hover {
    color: #0b5ed7;
}


.nav-link {
    display: inline-block;
    opacity: 0;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 164px 6% 0;
}

.home-content > h1 {
    color: #0b5ed7;
    font-size: 50px;

    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content > h2 {
    font-size: 30px;

    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content > h3 {
    font-size: 20px;

    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
}

#login:hover {
    background-color: white;
    color: #0940a0;
}

.homeImg {
    position: relative;
    width: 440px;
    height: 440px;
    right: 100px;
    bottom: -8px;
    transform: rotate(45deg);
}

.homeImg > .rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border: 25px solid #1069ee;
    box-shadow: 11px -1px 16px 8px #0b88ff;

    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}

#car1 {
    position: absolute;
    right: -86px;
    top: 96px;


    opacity: 0;
    animation: car 1s ease forwards;
    animation-delay: 2s;
}

.logo {
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.btn {
    opacity: 0;
    transition: .4s;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/*-------------------Car Section-----------------------------------*/

.carSecText {
    text-align: center;
    position: relative;
    top: 270px;
}

.carCardSet {
    width: 80vw;
    height: 50vh;
    /*border: 1px solid;*/
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    top: 313px;
    display: flex;
    justify-content: space-between;
}

.carImg {
    height: 45%;
    border-radius: 10px;
    /*border: 2px solid black;*/
}

#carSection > .carCardSet:nth-child(2) {
    margin-top: 40px;
}

#carSection > .carCardSet:nth-child(3), .carCardSet:nth-child(4) {
    margin-top: 150px;
}

.carTypTex {
    position: absolute;
    top: -50px;


    font-size: 25px;
}

.carCard {
    position: relative;
    width: 22%;
    height: 100%;
    /*border: 2px solid red;*/
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(5, 107, 255, 0.3);
    border-radius: 10px;
}

.carDetail {
    height: 55%;
    display: flex;
    flex-direction: column;
    /*border: 1px solid;*/
}

.carDetail > div:first-child {
    height: 50%;
    /*border: 2px solid black;*/
}

.carDetail > div:nth-child(2) {
    height: 25%;
    /*border: 2px solid red;*/
}

.carDetail > div:nth-child(3) {
    height: 25%;
    /*border: 2px solid gold;*/
}

.carDetail > div:first-child > h1 {
    font-size: 18px;
    font-weight: bold;
    transform: translate(10px, 5px);
}

.dailyPrice {
    transform: translate(10px, 4px);
    font-size: 16px;
    font-weight: bold;
    color: #e74c0f;
}

.monthlyPrice {
    transform: translate(10px, -2px);
    font-size: 13px;
    font-weight: 500;
    color: #017bd9;
}

.typeCon {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    margin-left: 22px;
}

.typeCon > div:first-child {
    width: 20%;
    /*border: 1px solid;*/
}

.typeCon > div:nth-child(2) {
    width: 20%;
    /*border: 1px solid;*/
}

.typeCon > div:nth-child(3) {
    width: 20%;
    /*border: 1px solid;*/
}

.rentNow {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 218px;
    transform: translate(10px, 3px);
}

.typeCon > div > h1 {
    font-size: 8px;
}

/*-----------------------login page---------------------*/

.boxArea {
    width: 1000px;
    /*height: 520px;*/
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(5, 107, 255, 0.3);
}

.left-box {
    padding: 77px 55px 54px 53px;
}

/*-------------------------customer register------------------*/
#customerForm {
    margin-top: 100px;
}

.image-context {
    width: 400px;
    height: 190px;
}

/*--------------------------Contact Page-----------------------*/
.footer {
    /*border: 1px solid;*/
    width: 100%;
    height: 700px;
    margin-top: 500px;

}

.foot {
    margin: 50px;
    /*border: 1px solid;*/
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contactForm {
    height: 100%;
    width: 40%;
    /*border: 1px solid red;*/
}

.contactDetail {
    height: 100%;
    width: 40%;
    /*border: 1px solid red;*/
}

#massage {
    resize: none;
    height: 150px;
}

.text {
    height: 50px;
}

/*--------------------------------Customer Page---------------------------------*/
.homeImg1 {
    position: relative;
    width: 440px;
    height: 440px;
    right: -800px;
    bottom: 130px;
    transform: rotate(45deg);
}
.homeImg1 > .rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border: 25px solid #1069ee;
    box-shadow: 11px -1px 16px 8px #0b88ff;

    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}
.home1 {
    width: 100%;
    height: 100%;
    padding: 164px 6% 0;
}
/*Browse Car*/

.carCardSet1 {
    width: 80vw;
    height: 50vh;
    /*border: 1px solid;*/
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: space-between;
}

.carSecText1{
    position: relative;
    top: 100px;
}


#carSection1 > .carSec > .carCardSet1:nth-child(3), .carCardSet1:nth-child(4) {
    margin-top: 150px;
    /*border: 1px solid;*/
}

.carTypTex {
    position: absolute;
    top: -50px;

    font-size: 25px;
}

/*rent car*/

.rentCarSection {
    position: relative;
    top: 80px;
}

#addCart:hover {
    color: white;
}

#res:hover {
    background: white;
    color: #0b5ed7;
}

/*booking detail*/

.bookingDetailSection {
    position: relative;
    top: 100px;
}

.bookingCard {
    position: relative;
    top: 60px;
}

/*Payment detail*/
.paymentDetailSection {
    position: relative;
    top: 100px;
}

.paymentCard {
    position: relative;
    top: 60px;
}

/*------------------Admin Page-----------------*/
.nav-pills li a:hover{
    background-color: white;
    color: black !important;
}

.nav-pills li a{
    font-weight: bold;
    width: 100%;
    /*height: 50px;*/
}

.nav-pills li>a>span{
    font-size: 16px !important;
}
.easyCar{
    font-size: 29px !important;
}
.nav-pills li{
    margin-top: 7px;
}
/*-----Dashboard-----------*/
.dashboard .card-icon1 {
    font-size: 32px;
    width: 64px;
    height: 64px;
    color: #0b5ed7;
    background: #D2DEF3;
}
.dashboard .card-icon2 {
    font-size: 32px;
    width: 64px;
    height: 64px;
    color: #2eca6a;
    background: #e0f8e9;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes car {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

